apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "gocd-prometheus-exporter.fullname" . }}
  labels:
    app: {{ template "gocd-prometheus-exporter.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8000"
        prometheus.io/path: "/"
      labels:
        app: {{ template "gocd-prometheus-exporter.name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.internalPort }}
          livenessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.internalPort }}
          readinessProbe:
            httpGet:
              path: /
              port: {{ .Values.service.internalPort }}
          env:
            - name: GOCD_URL
              value: {{ .Values.configuration.gocd_url }}
            - name: GOCD_USERNAME
              value: {{ .Values.configuration.gocd_username }}
            - name: GOCD_PASSWORD
              value: {{ .Values.configuration.gocd_password }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
    {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
    {{- end }}
